
{% macro search_link(query) -%}
    <a href="{{ h.remove_url_param("q", replace=query, extras=request.view_args) }}">{{ query }}</a>
{%- endmacro %}


{% with recommended = h.spellcheck_did_you_mean(g.q, min_hits=count) -%}
    {% if recommended %}
	<div class="search-tweaks--did-you-mean">
	    <span class="static-text">{{ _("Did you mean") }}</span>

	    {% set separator = joiner(", ") %}
	    {% for option in recommended[:-1] -%}
		{{ separator() }}{{ search_link(option) }}
	    {%- endfor %}
	    {% if recommended|length > 1 %}
		{{ _('or') }}
	    {% endif %}

	    {{ search_link(recommended[-1]) }}
	</div>
    {% endif %}

{%- endwith %}
